Vamos aprender a criar um dicíonario com pandas para amazenar as notas dos alunos 'Maria','Jose', 'Witoria' e depois armazena-lo em um DataFrame. Primeiro temos que importar a biblioteca pandas para criar o nosso dataframe.
Lembrando que cada chave será uma coluna do DataFrame.

In [ ]:
import pandas as pd

In [ ]:
# Criando um dicionário onde cada chave será uma coluna do DataFrame
dicionario = {
'Alunos':    ['Maria', 'Jose', 'Witoria'],
'Historia':  [8, 9 ,10],
'Geografia': [10, 9, 7]
}

In [ ]:
#Criando o DataFrame
df = pd.DataFrame(dicionario, columns=['Alunos','Historia','Geografia'])

In [ ]:
# visualizando o DataFrame
df

    Alunos  Historia  Geografia
0    Maria         8         10
1     Jose         9          9
2  Witoria        10          7

Pronto acabamos de criar um DataFrame para armazenar as notas dos alunos.